.container {
    width     : 235px;
    background: #ffffff;
    font-size : 90%;

    div {

        a {
            img {
                
                &[src="/rightaside/rss.png"] {
                    display: inline;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .container {
        display: none;
    }
}