.container {
    width: 100%;
    background: white;
    
    h2 {
        margin-top: 10px;
        text-align: center;
    }
    img {
        margin: 0 auto;
        width: 470px;
        height: auto;
    }
    hr {
        margin: 0 30px;
    }
}