.container {
    width: 100%;
    background: white;
    
    p {
        margin-top: 0;
        text-align: center;
    }
    img {

        margin: 0 auto;
    }
    hr {
        margin: 0 30px;
    }
}